<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://api.kanfamily.net:3579/xiezuo</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">mzk10</property>
    <property name="connection.password">Wojiushi1</property>
    <mapping class="com.mh.myservice.entity.LogEntity"/>
    <mapping class="com.mh.myservice.entity.FontEntity"/>
    <mapping class="com.mh.myservice.entity.VersionCheckEntity"/>
    <mapping class="com.mh.myservice.entity.UserEntity"/>
    <mapping class="com.mh.myservice.entity.Rootuser"/>

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>
<!--<property name="connection.username">mzk10</property>-->
<!--<property name="connection.password">Wojiushi1</property>-->
